<h1 class="has-text-centered title mt-4">Listing all articles</h1>

<%= render 'article' %>

<div class="buttons container">
  <%= link_to "Create a new article", new_article_path, class: "button is-primary" %>
</div>
