<% if obj.errors.any? %>
  <div class="notification is-danger">
    <h2>The following errors prevented the <%= obj.class.name.downcase %> from being saving</h2>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
    <button class="delete"></button>
  </div>
<% end %>