
<div class="container">
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Alpha Blog
        </h1>
        <button class="button is-primary">Primary</button>
      </div>
    </div>
  </section>
</div>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>


