
<div class="container">
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Alpha Blog
        </h1>
        <%= link_to "Sign up", signup_path, class:"button is-primary" %>
      </div>
    </div>
  </section>
</div>



